<h1 class="mt-3">Volunteers</h1>

<div class="row">
  <div class="col-lg-4 push-lg-8">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to new_volunteer_path, class: 'nav-link' do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Create New Volunteer
        <% end %>
      </li>
    </ul>
  </div>
  <div class="col-lg-8 pull-lg-4">
    <% if @volunteers.any? %>
      <ul class="list-group mt-3">
        <%= render @volunteers %>
      </ul>
    <% else %>
      <p class="mt-3">
        There are no volunteers registered under you.
        <%= link_to 'Add one?', new_volunteer_path %>
      </p>
    <% end %>
  </div>
</div>
