<li class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-0"><%= national_finance_head.user.name %></h5>
    <small title="<%= national_finance_head.created_at.iso8601 %>"><%= time_ago_in_words(national_finance_head.created_at) %>
      ago
    </small>
  </div>

  <div class="mt-2">
    <% if policy(national_finance_head.user).show? %>
      <%= link_to 'View Details', user_path(national_finance_head.user), class: 'btn btn-secondary btn-sm' %>
    <% end %>
  </div>
</li>
