<h1 class="mt-3">National Finance Heads</h1>

<div class="row">
  <div class="col-lg-4 push-lg-8">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to new_fellow_path, class: 'nav-link' do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Create New Fellow
        <% end %>
      </li>

      <% if @national_finance_heads.any? %>
        <li class="nav-item">
          <span class="nav-link">
          <%= link_to national_finance_heads_path(format: 'csv'), 'data-toggle': 'tooltip', 'data-placement': 'right', title: pluralize(@national_finance_heads.count, 'row') do %>
            <i class="fa fa-download" aria-hidden="true"></i> Download as CSV
          <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-lg-8 pull-lg-4">
    <% if @national_finance_heads.any? %>
      <ul class="list-group mt-3">
        <%= render @national_finance_heads %>
      </ul>
    <% else %>
      <p class="mt-3">
        I'm sorry, but it appears that there are no registered national finance heads. I'm as confused as you are.
        <i class="fa fa-frown-o"></i>
      </p>
    <% end %>
  </div>
</div>
