<li class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-0"><%= coach.user.name %></h5>
    <small title="<%= coach.created_at.iso8601 %>"><%= time_ago_in_words(coach.created_at) %> ago</small>
  </div>
</li>
