<h1 class="mt-3">Coaches</h1>


<div class="row">
  <div class="col-lg-4 push-lg-8">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to new_coach_path, class: 'nav-link' do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Create New Coach
        <% end %>
      </li>

      <% if @coaches.any? %>
        <li class="nav-item">
          <span class="nav-link">
          <%= link_to coaches_path(format: 'csv'), 'data-toggle': 'tooltip', 'data-placement': 'right', title: pluralize(@coaches.count, 'row') do %>
            <i class="fa fa-download" aria-hidden="true"></i> Download as CSV
          <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-8 pull-lg-4">
    <% if @coaches.any? %>
      <ul class="list-group mt-3">
        <%= render @coaches %>
      </ul>
    <% else %>
      <p class="mt-3">
        There are no coaches registered under you.
        <%= link_to 'Add one?', new_coach_path %>
      </p>
    <% end %>
  </div>
</div>
