<%= content_for :body do %>
    Dear <%= @name %>,
    <br/><br/>

    Thank you for your contribution of Rs. <%= @amount %> towards Guardians Of Dreams Foundation.
    <br/><br/>

    This is not a donation receipt, but only an acknowledgement. We will send you the e-Receipt containing the tax exemption certificate for the donation once the amount reaches us. This normally occurs within 45 days.
    <br/><br/>

    The receipt will be generated in the name of <strong><%= @name %></strong>. Please contact us via email or phone in case there is any mistake in the above information.
    <br/><br/>

    Please feel free to reply to this email or call <a href="tel:+919895068744">+91-9895068744</a> for any clarification.
    <br/><br/>

    You can read more about us at <a href="http://www.godreams.org">www.godreams.org</a>.
<% end %>
