<%= content_for :body do %>
    Dear <%= @donation.name %>,
    <br/><br/>

    We trust this email finds you well.
    <br/><br/>

    As promised, please find attached the e-receipt of your contribution to Guardians of Dreams Foundation. This receipt can be used to claim tax exemption.
    <br/><br/>

    Please feel free to contact us on <a href="mailto:receipts@godreams.org">receipts@godreams.org</a> or <a href="tel:+9198956068744">+91-98956068744</a> for any queries.
    <br/><br/>

    Thank you once again.
    <br/><br/>

    Sincerely,<br/>
    Guardians of Dreams Foundation
<% end %>
