<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Guardians of Dreams</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Donations <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Volunteers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Coaches</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Fellows</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">National Finance Heads</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
